@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Mozilla+Text:wght@200..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=VT323&display=swap');

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}